@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}


ol,
ul {
  list-style: none;
}


img {
  max-width: 100%;
}


table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #05fdc4;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.banner p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.button {
  display: inline-block;
  background-color: #6a00b6;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #048a02;
}

.button-add {
  display: inline-block;
  background-color: #02a32b;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.button-add:hover {
  background-color: #018321;
}

.button-remove {
  display: inline-block;
  background-color: #bd0101;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.button-remove:hover {
  background-color: #830000;
}

.button-create {
  display: inline-block;
  background-color: #bd7201;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.button-create:hover {
  background-color: #7a4a02;
}

.button-container {
  text-align: center;
}

.page-title h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.courses {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.admin-courses {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.course-card {
  flex-basis: calc(33.33% - 40px);
  background-color: #10a4af;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-card img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.course-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.course-card p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.course-card-details {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.course-card-details img {
  width: 35%;
  height: auto;
  margin-right: 2rem;
  border-radius: 5px;
  float: left;
}

input[type=checkbox],
input[type=radio] {
  width: 20px;
  height: 20px;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.container-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.welcome {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2rem;
}

.welcome p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

footer {
  background-color: #2a00b6;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .course-card {
    flex-basis: 400px;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 768px) {
  .courses {
    gap: 2rem;
  }

  .course-card {
    flex-basis: 500px;
    flex-grow: 1;
  }

  .container-card {
    margin-bottom: unset;
    margin-bottom: 1rem;
  }

  .course-card-details img {
    width: 100%;
    margin-bottom: 2rem;
    float: unset;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #4900b6;
  color: white;
}

.navigation-list {
  display: flex;
  font-size: 16px;
  font-weight: 200;
  width: 30%;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.navigation-list li {
  position: relative;
}


.navigation-list li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  cursor: pointer;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}

.navigation-list li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  border-radius: 300px;
  background-color: white;
  transition: all 400ms ease-in;
}

.title {
  font-size: 150px;
  color: white;
  position: absolute;
  top: 50%;
  left: 5%;
}


@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navigation-list {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 8vh;
    min-height: 92vh;
    background-color: #7f00b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10rem 0;
    transform: translateX(100%);
    transition: all 500ms ease-in;
  }

  .navigation-list li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0);
}

.upper-section {
  width: 100%;
  height: 50vh;
  background-color: white;
}

.lower-section {
  width: 100%;
  height: 50vh;
  background-color: white;
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 5px);

}

.toggle .line-2 {
  transform: translateX(100%);
  opacity: 0;

}

.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -5px);

}